*{
    margin: 0px;
    padding: 0px;
    
}
.text{
color: red;
cursor: url("https://emojiterra.com/smiling-face/"),auto;

}
.container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 2px solid grey;
    flex-direction: row-reverse;
}
.box{
    padding: 10px;
    background-color: cyan;
    width: 110px;
    height: 90px;
}
.box2{
    background-color: rgb(84, 12, 12); 
    width: 90px;
    height: 80px;
}
.box3{
    background-color: darkgreen;
    width: 70px;
    height: 60px;
}